@page "/BDocuments/EditModal"
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Aqt.CoreFW.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Form
@using Aqt.CoreFW.Web.Pages.BDocuments
@model EditModalModel
@inject IHtmlLocalizer<CoreFWResource> L
@{
    Layout = null;
}

@* Edit Modal chỉ sửa thông tin chính, không sửa Tờ khai hay File đính kèm ở đây *@
<abp-dynamic-form abp-model="BDocumentViewModel" asp-page="/BDocuments/EditModal" id="EditBDocumentForm">
    <abp-modal size="ExtraLarge">
        <abp-modal-header title="@L["EditBDocument"].Value"></abp-modal-header>
        <abp-modal-body>
            @* ID ẩn của BDocument cần sửa *@
            <input type="hidden" asp-for="BDocumentViewModel.Id" />

            @* Các trường thông tin không cho sửa trực tiếp ở đây *@
            <abp-input asp-for="BDocumentViewModel.Code" readonly="true" />
            <abp-input asp-for="BDocumentViewModel.ProcedureName" readonly="true" label="@L["DisplayName:BDocument.ProcedureId"].Value" />
            <abp-input asp-for="BDocumentViewModel.WorkflowStatusName" readonly="true" label="@L["DisplayName:BDocument.WorkflowStatusId"].Value" />
            <hr />

            <h5>@L["ApplicantInformation"]</h5>
            <abp-input asp-for="BDocumentViewModel.ApplicantName" />
            <abp-input asp-for="BDocumentViewModel.ApplicantIdentityNumber" />
            <abp-input asp-for="BDocumentViewModel.ApplicantAddress" />
            <abp-input asp-for="BDocumentViewModel.ApplicantEmail" type="email" />
            <abp-input asp-for="BDocumentViewModel.ApplicantPhoneNumber" type="tel" />
            <hr />

            <h5>@L["AdditionalInformation"]</h5>
            <abp-input asp-for="BDocumentViewModel.ScopeOfActivity" />
            <abp-check asp-for="BDocumentViewModel.ReceiveByPost" />

            @* Không hiển thị/sửa DataList (trước là ComponentDataList) ở đây *@

        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel | AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</abp-dynamic-form>